{% extends 'base.html' %}

{% block page_title %}竞品分析资料表{% endblock %}

{% block technical_list %}
    <li ><a href="CA.html">竞品分析资料表</a></li>
    <li ><a href="FP.html">产品功能性能介绍</a></li>
    <li ><a href="HD.html">硬件设计说明书</a></li>
    <li ><a href="BD.html">框图</a></li>
    <li ><a href="FC.html">流程图</a></li>
    <li ><a href="SCH.html">原理图</a></li>
    <li ><a href="PCB.html">PCB图</a></li>
    <li ><a href="BOM.html">物料清单</a></li>
    <li ><a href="HLD.html">软件概要设计说明书</a></li>
    <li ><a href="LLD.html">软件详细设计说明书</a></li>
    <li ><a href="PC.html">协议通讯</a></li>
    <li ><a href="CS.html">控制策略</a></li>
    <li ><a href="LA.html">布置图</a></li>
    <li ><a href="ID.html">接口定义</a></li>
    <li ><a href="RS.html">需求规格</a></li>
    <li ><a href="TS.html">测试方案</a></li>
    <li ><a href="TC.html">测试用例</a></li>
{% endblock %}

{% block plan_list %}
    <li ><a href="PP.html">项目计划</a></li>
    <li ><a href="TP.html">测试计划</a></li>
    <li ><a href="QP.html">质量计划</a></li>
{% endblock %}

{% block record_list %}
    <li ><a href="Record.html">验证测试报告</a></li>
    <li ><a href="Record.html">确认测试报告</a></li>
    <li ><a href="Record.html">评审记录</a></li>
    <li ><a href="Record.html">验收报告</a></li>
    <li ><a href="Record.html">质量检查报告</a></li>
    <li ><a href="Record.html">会议记录</a></li>
    <li ><a href="Record.html">总结报告</a></li>
    <li ><a href="Record.html">问题跟踪表</a></li>
{% endblock %}