{% extends 'name_generate/base_view.html' %}

{% block page_title %}{{ projectclass.name }}{% endblock %}

{% block form_com %}
    <form name="form1"  method="post" action="">
          <label for="ProjectName">项目名称</label>
          {{ form.project }}
          <label for="SchemeName">方案名</label>
          {{ form.scheme }}
          <label for="ModuleName">模块名</label>
          {{ form.module }}
          <label>文件名称</label>
           {{ form.name }}
          <label>日期</label>
           {{ form.date }}
          <label>作者（选填）</label>
           {{ form.author }}
          <label></label>
          <label></label>
          <input name="Creat" type="button" value="生成">
          <label></label>
          <input type="text" id="result" style="border:none" value="//" />
        </form>
{% endblock %}